{% extends "base.html" %}

{% block titulo %}Cambio De Clave{% endblock  %}


<body>

{% block contenido %}

	<hr>
	<article class="col-md-3"><div id="cajaArriba" style="display: none;"></div>	</article>
	<article class="col-md-6">
		<ul class="nav nav-tabs nav-justified well">

  {% if validlink %}
    <h3>Cambio De Clave</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Cambio De Clave</button>
    </form>
  {% else %}
    <p>
      <div>El link de cambio de clave es invalido, posiblemente ya fue usado o ya caduco.</div></br>
      <div>Por favor requiera uno otra vez.</div></br>
    </p>
  {% endif %}

		</ul>
		</hr>
	</article>

{% endblock %}
